<!-- <!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">

</head>
<body>


    <div class="container-fluid"
    style="background-color:aliceblue; font-family: 'Raleway', sans-serif; position:unset;bottom: 15px;">
    <div class="container" style="background-color:white;">
        <div class="row">
            <div class="col-md-6">
                <h6>You can also me reach through </h6>

                <a href="#" class="fa fa-facebook"></a>
                <a href="#" class="fa fa-twitter"></a>
                <a href="#" class="fa fa-google"></a>
                <a href="#" class="fa fa-linkedin"></a>
                <a href="#" class="fa fa-youtube"></a>
                <a href="#" class="fa fa-instagram"></a>

            </div>
            <div class="col-md-6" style="text-align:right;">
                <h6>Welcomed by<u><strong>sirmwas</strong></h6>
            </div>
        </div>

    </div>
</div>
    
 
    

</body>
</html> -->